<h1 style="text-align:center;font-size:50px;background-color:red;color:white">
    <div style="display:block;text-align:left"><span style="text-align:center;font-weight:normal"><span>&nbsp;&nbsp; &nbsp;</span><span>&nbsp;&nbsp; &nbsp;<span></span><span></span></span>VAn LANG UNIVERSITY</span></div>
</h1>

<h2 style="font-size:40px"> Vu Xuan Hoang - Curriculum Vitae </h2>

<pre>Address: 79/15 duong 109                 Email: vuxuanhoang1302@Gmail.com
phuong Phuoc Long b                      Phone: 0774058262
Quan 9                                   Facebook: <a href="https://www.facebook.com/vuhoang13">vuhoang13</a>
</pre>

<h2 style="font-size:30px">Personal information</h2>


<table>


    <tbody>
        <tr>

            <td style="width:200px;height:190px">
                <div style="display:block;text-align:left"><a href="https://sites.google.com/site/havenderv1/home/hoang.jpg?attredirects=0" imageanchor="1"><img border="0" height="200" src="../content/hoang.jpg" width="196"></a></div>
            </td>

            <td style="width:186px;height:190px">


                <p><b>First name:</b> Hoang</p>

                <p><b>Last name:</b> Vu</p>

                <p><b>Birthday:</b> 13/2/1999</p>

                <p><b>Nationality:</b> Vietnamese</p>

                <p><b>Gender:</b> Male</p>
            </td>
        </tr>
    </tbody>
</table>
<ul>

    <h3 style="text-align:center;font-size:30px">Education</h3>
    <li>
        <p> VanLang university, HCMC</p>
    </li>
    <li>
        <p> Area of concentration: Software Engineering</p>
    </li>
    <li>
        <p> Mark: 6.68/10</p>
    </li>
    <li>
        <h4 style="font-size:30px"> Skill</h4>
    </li>
    <li>
        <p> Programming languages: Java, .NET </p>
    </li>
    <li>
        <p> Languages: Vietnamese (mother tongue), English </p>
    </li>
    <li>
        <p> photography</p>
    </li>
</ul>

<h3 style="font-size:30px">Scholarships &amp; Awards</h3>

<ul>
    <li>
        <p> Fellowship, Van Lang University</p>
    </li>

    <li>
        <p> Third prize in chemistry </p>
    </li>



</ul>
